.repeat-form-block {
  padding: 44px 0;
  background-color: $blue-light;
}
.form-title, .form-subtitle {
  text-align: center;
  color: #ffffff;
  margin-bottom: 22px;
}
.form-title {
  @include big-title;
  font-weight: 500;
}
.form-subtitle {
  @include base-title;
  font-weight: 400;
}
//Form styles
.wpcf7-form {
  * {
	direction: rtl !important;
  }
  ::placeholder {
	@include input-text;
  }
  ::-webkit-input-placeholder, :-moz-placeholder, :-ms-input-placeholder {
	@include input-text;
  }
}
div.wpcf7 input[type="text"],
div.wpcf7 input[type="tel"],
div.wpcf7 input[type="email"],
div.wpcf7 textarea,
div.wpcf7 select,
.select-product {
  @include input-text;
  @include input-style;
}
div.wpcf7 select, .select-product {
  -webkit-appearance: none;
  background-image: url("../iconsall/form-select.png");
  padding-left: size(42);
  padding-right: size(25);
  background-position: size(10) center;
  background-size: size(17);
  background-repeat: no-repeat;
}
div.wpcf7 textarea {
  height: size(136);
}
div.wpcf7 input[type="submit"] {
  @include submit-style;
}
div.wpcf7 input[type="text"] {
  background-image: url("../iconsall/form-name.png");
}
div.wpcf7 input[type="tel"] {
  background-image: url("../iconsall/form-tel.png");
}
div.wpcf7 input[type="email"] {
  background-image: url("../iconsall/form-mail.png");
}
.repeat-form-block {
  div.wpcf7 input[type="text"],
  div.wpcf7 input[type="tel"],
  div.wpcf7 input[type="email"],
  div.wpcf7 textarea,
  div.wpcf7 select {
	margin-bottom: 19px;
  }
}
.footer-form-wrap {
  div.wpcf7 input[type="text"],
  div.wpcf7 input[type="tel"],
  div.wpcf7 input[type="email"],
  div.wpcf7 textarea,
  div.wpcf7 select {
	margin-bottom: 19px;
	border-radius: 5px !important;
  }
  div.wpcf7 input[type="submit"] {
	background-color: $blue-light;
	border-radius: 5px !important;
  }
}
.form-terms-product {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  margin: 20px 0;
  .select-product {
	border: 2px solid $blue-light;
	width: 200px;
	margin-left: 19px;
	border-radius: 5px !important;
	color: $blue-main;
	font-size: size(24);
	font-weight: 400;
	font-style: normal;
	letter-spacing: normal;
	line-height: size(34);
	@media (max-width: 576px) {
	  width: 150px;
	}
  }
}
.product-form-wrap {
  margin-top: 20px;
  background-color: $blue-light;
  padding: 27px 10%;
}
.hidden-input {
  display: none;
}
.form-group {
  .select-product {
	width: 256px;
	margin: 0 15px;
  }
}
