header {
  border-top: 11px solid $blue-light;
  box-shadow: -1px 5px 13px 1px rgba(1, 1, 1, 0.08);
  background-color: #ffffff;
  padding: size(30) 0;
  @media (max-width: 1400px) and (min-width: 769px){
	padding: 12px 0;
  }
  &.fixed {
	padding: 12px 0;
  }
}
.header-home {
  .logo {
	@media (max-width: 768px) {
	  margin-right: 40px;
	}
	img {
	  max-height: size(40);
	}
  }
}
.search-wrapper {
  position: relative;
}
.search-trigger {
  margin: 0 10px;
  height: size(45);
  @include d-center;
  cursor: pointer;
  img {
	width: size(27);
  }
  @media (max-width: 1600px) {
	height: size(35);
	img {
	  width: size(23);
	}
  }
}
.float-search {
  position: absolute;
  left: 10px;
  top: 0;
  opacity: 0;
  pointer-events: none;
  transition: opacity ease-out .5s;
  &.show-float-search {
	opacity: 1;
	pointer-events: auto;
	z-index: 8;
  }
}
.search-form {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  width: size(280);
  height: size(45);
  border-radius: 13px;
  border: 2px solid #0a085f;
  background-color: #ffffff;
  input[type="search"] {
	flex-grow: 1;
	border-radius: 13px;
  }
  input[type="submit"] {
	background-image: url("../iconsall/search.svg");
	width: size(45);
	height: size(45);
	border: none;
	background-color: transparent;
	background-position: center;
	background-size: size(24);
	background-repeat: no-repeat;
  }
  @media (max-width: 1600px) {
	height: size(35);
	input[type="submit"] {
	  background-image: url("../iconsall/search.svg");
	  height: size(35);
	  background-size: size(20);
	}
  }
}
.logo {
  @include d-center;
}
.logo-home {
  width: 33%;
  margin-bottom: 23px;
  img {
	width: 100%;
	max-height: size(83);
  }
}
.header-pages {
  position: relative;
}
.header-versions {
  position: absolute;
  display: flex;
  align-items: stretch;
  right: 0;
  height: 100%;
  top: 0;
  @media (max-width: 768px) {
	right: 50px;
  }
}

//Footer
.footer-main {
  position: relative;
  background-color: $blue-main;
  padding-top: 46px;
  background-image: url("../img/footer-img.png");
  @include back-img;
}
.footer-main-home {
  background-image: none;
}
.footer-container-menu {
  padding: 60px 15px 70px 15px;
}
.menu-border-top {
  position: relative;
  padding-top: 15px;
  border-top: 1px solid #fafafc;
  &:before {
	content: '';
	display: block;
	height: 3px;
	position: absolute;
	right: 0;
	top: -2.5px;
	width: 50%;
	background-color: #ffffff;
  }
}
.hop-hey.three-columns {
  column-count: 2;
  column-gap: 1rem;
  @media (max-width: 1400px) and (min-width: 992px) {
	column-count: 1;
	column-gap: unset;
  }
}
footer {
  li {
	-webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
	page-break-inside: avoid; /* Firefox */
	break-inside: avoid-column;
	position: relative;
	margin-bottom: 5px;
	a {
	  position: relative;
	  @include foo-menu;
	  padding-right: 20px;
	  transition: color .5s;
	  &:hover {
		color: $blue-light;
		transition: color .5s;
	  }
	}
	li:hover {
	  &:before {
		border-right: 3px solid $blue-light;
	  }
	}
	&:before {
	  position: absolute;
	  content: '';
	  top: 12px;
	  color: #ffffff;
	  font-size: size(18);
	  line-height: size(20);
	  display: inline-block;
	  right: 0;
	  width: 3px;
	  height: 5px;
	  border: 3px solid transparent;
	  border-right: 3px solid #fff;
	}
  }
  .contact-list li {
	margin-bottom: 10px;
	a {
	  display: flex;
	  align-items: flex-start;
	  padding-right: 0;
	}
	&:before {
	  display: none;
	}
  }
}
.contact-menu-foo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.foo-title {
  @include base-text;
  color: #ffffff;
  margin-bottom: 10px;
}
.foo-form-wrap {
  padding-top: 70px;
}
#go-top {
  position: absolute;
  top: -4rem;
  right: 33px;
  @include d-center;
  flex-direction: column;
  cursor: pointer;
  z-index: 999;
  svg {
	width: size(64);
	fill: $blue-main;
	transition: fill ease-out .5s;
	animation: jump-top 1.2s ease-in-out alternate infinite;
  }
  &:hover svg {
	fill: $blue-light;
  }
}
.go-top-white {
  top: 2rem !important;
  right: 5% !important;
  svg * {
	fill: #ffffff !important;
  }
  &:hover svg {
	fill: $blue-light !important;
  }
  .base-text {
	color: #ffffff;
  }
  @media (max-width: 992px) {
	top: 1rem !important;
  }
}
.foo-socials {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin: 30px 0;
}
.social-link-item {
  @include d-center;
  height: 30px;
  margin: 0 15px;
  &:first-child {
	margin-right: 0 !important;
  }
  &:last-child {
	margin-left: 0 !important;
  }
}
//Header styles
.header-link-toggles {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
}
.header-version {
  display: flex;
  width: size(187);
  justify-content: center;
  align-items: flex-end;
  padding: size(45) 15px 3px 15px;
  background-image: url("../img/logo-blue.png");
  background-color: #ffffff;
  background-position: center 5px;
  background-size: 70% auto;
  .base-link-header{
	font-family: 'Just Another Hand', sans-serif;
	font-size: size(45);
	line-height: size(50);
	text-align: center;
	color: $blue-light;
  }
  background-repeat: no-repeat;
  &:hover {
	background-image: url("../img/logo-white.png");
	background-color: $blue-light;
	.base-link-header{
	  color: #ffffff;
	}
  }
  &.active {
	background-image: url("../img/logo-white.png");
	background-color: $blue-light;
	.base-link-header{
	  color: #ffffff;
	}
  }
  @media (max-width: 1400px) and (min-width: 769px){
	padding-top: 30px !important;
	width: size(120);
	background-size: 55% auto;
	.base-link-header{
	  font-size: size(25);
	  line-height: size(30);
	}
  }
  @media (max-width: 500px){
	padding-top: 30px !important;
	width: size(120);
	background-position: center 20px;
	background-size: 55% auto;
	.base-link-header{
	  font-size: size(25);
	  line-height: size(30);
	}
  }
}
header.fixed {
  .header-version {
	background-image: none;
  }
}
.header-tel {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  img {
	width: size(21);
	margin-right: 14px;
  }
}
.tel-number {
  color: $blue-main;
  font-size: size(30);
  font-weight: 500;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(34);
  transition: color ease-out .5s;
  &:hover {
	color: $blue-light;
  }
  @media (max-width: 1600px) {
	font-size: size(20);
	line-height: size(25);
  }
  @media (max-width: 1050px) {
	display: none;
  }
}
