//Slider
.arrows-slider {
  [dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	width: size(27);
	height: size(23);
	z-index: 33;
	top: unset;
	bottom: -0.5rem;
  }
  [dir="rtl"] .slick-next {
	left: 0;
	right: unset;
	background-image: url("../iconsall/arrow-white-left.png");
  }
  [dir="rtl"] .slick-prev {
	left: 50px;
	right: unset;
	background-image: url("../iconsall/arrow-white-right.png");
  }
  .slick-prev:before, .slick-next:before {
	color: transparent;
  }
}
.post-slider-arrows {
  [dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
	top: 40%;
	bottom: unset;
  }
  [dir="rtl"] .slick-next {
	left: -2rem;
	right: unset;
	background-image: url("../iconsall/arrow-blue.png");
  }
  [dir="rtl"] .slick-prev {
	right: -2rem;
	left: unset;
	background-image: url("../iconsall/arrow-blue-right.png");
  }
}
.arrows-slider-gallery {
  margin-bottom: 2rem;
  [dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
	top: unset;
	bottom: -2rem;
  }
  [dir="rtl"] .slick-next {
	left: calc(50% - 2rem);
	right: unset;
	background-image: url("../iconsall/arrow-blue.png");
  }
  [dir="rtl"] .slick-prev {
	right: calc(50% - 2rem);
	left: unset;
	background-image: url("../iconsall/arrow-blue-right.png");
  }
}
.base-slider-block {
  position: relative;
  padding: 130px 0;
}
.slider-img-col {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  @include back-img;
  img {
	display: none;
	width: 100%;
  }
  @media (max-width: 992px) {
	background-image: none !important;
	img {
	  display: block;
	  width: 100%;
	}
  }
}
.slider-text-wrap {
  background-color: $blue-main;
  padding: 10% 10% 10% 15%;
  @media (max-width: 576px) {
	padding: 10% 20px;
  }
}
.slider-col-content {
  padding-left: 0;
  @media (max-width: 992px) {
	padding-left: 15px;
  }
}
.slider-output {
  padding-bottom: 2rem;
}

//POST CARD
.post-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  padding: 5px;
  height: 100%;
}
.col-post {
  padding: 0;
  margin-bottom: 42px;
}
.col-product {
  margin-bottom: 53px;
}
.product-card {
  padding: 5px;
}
.post-card-image, .product-card-image {
  width: 100%;
  @include back-img;
  margin-bottom: 22px;
  &:after {
	content: '';
	display: block;
	padding-bottom: 85.4%;
  }
}
.product-card-image {
  position: relative;
  @include d-center;
  box-shadow: 1px 1px 10px rgba(1, 1, 1, 0.15);
  background-color: #ffffff;
  padding: size(43);
  img {
	position: absolute;
	max-height: 80%;
	width: auto;
  }
}
.post-card-link {
  color: #0a085f !important;
  font-size: size(24);
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(34);
  padding-left: 31px;
  background-position: 4px center;
  background-size: size(21);
  background-repeat: no-repeat;
  background-image: url("../iconsall/arrow-link.png");
  align-self: flex-end;
  transition: background-position ease-out .5s;
  &:hover {
	background-position: left center;
  }
}
.post-card-content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;
}
.card-content-wrapper {
  flex-grow: 1;
}
//Posts
.repeat-link-col {
  display: flex;
  margin-bottom: 26px;
  border-left: 1px solid #858585;
  &:last-child {
	border-left: none;
  }
}
.top-link-item {
  color: #858585;
  font-size: size(24);
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(24);
  text-align: center;
  transition: color ease-out .5s;
  &:hover {
	color: $blue-main;
  }
}
