/* ----------- Non-Retina Screens ----------- */
@media screen
and (min-device-width: 1200px)
and (max-device-width: 1600px)
and (-webkit-min-device-pixel-ratio: 1) {}
/* ----------- Retina Screens ----------- */
@media screen
and (min-device-width: 1200px)
and (max-device-width: 1600px)
and (-webkit-min-device-pixel-ratio: 2)
and (min-resolution: 192dpi) {}


//Bootstrap 4 breakpoints

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  html{
    font-size: 20px;
  }
}

/* Extra large devices (large desktops, 1200px and down) */
@media (max-width: 1200px) {
  html{
    font-size: 18px;
  }
  .header-home {
	.container-fluid {
	  max-width: 100%;
	}
  }
  .contacts-column {
	flex-direction: row !important;
	flex-wrap: wrap;
	.contact-item {
	  flex: 0 0 50%;
	  max-width: 50%;
	}
  }
}
/* Large devices (desktops, 992px and down) */
@media (max-width: 992px) {
  html{
    font-size: 19px;
  }
  .foo-menu {
	margin-bottom: 2rem;
  }
  .foo-links-menu{
	order: 3;
  }
  .contacts-footer-menu {
	order: 2;
  }
  .block-title-desc {
	display: none;
  }
  .block-title-mob {
	display: block;
  }
  .product-gallery-col {
	order: -1;
	margin-bottom: 3rem;
  }
}
@media (min-width: 769px) {
  .back-to-menu, .sub-head {
	display: none !important;
  }
  #MainNav{
	ul{
	  display: flex;
	  align-items: center;
	  justify-content: center;
	  height: 100%;
	  li{
		@include d-center;
		&:last-child {
		  a {
			border-left: none;
		  }
		}
		a{
		  @include d-center;
		  padding: 0 15px;
		  border-left: 1px solid $blue-main;
		  color: $blue-main !important;
		  font-size: size(24);
		  font-weight: 500;
		  font-style: normal;
		  letter-spacing: normal;
		  line-height: size(24);
		  text-align: center;
		  @media (max-width: 1400px) and (min-width: 769px){
			font-size: size(19);
			line-height: size(22);
		  }
		}
	  }
	}
	li.menu-item-has-children {
	  position: relative;
	  &:hover {
		ul.sub-menu {
		  opacity: 1;
		  height: auto !important;
		  pointer-events: auto;
		}
	  }
	}
	ul.sub-menu {
	  position: absolute;
	  pointer-events: none;
	  padding: 20px 0;
	  z-index: 999;
	  opacity: 0;
	  top: 100%;
	  min-width: 250px;
	  display: flex;
	  flex-direction: column;
	  align-items: center;
	  box-shadow: -1px 5px 13px 1px rgba(82, 81, 81, 0.18);
	  background-color: #ffffff;
	  border-top: 6px solid $blue-light;
	  transition: opacity ease-out .5s;
	  li a {
		color: $blue-main;
		font-size: size(22);
		font-weight: 400;
		border: none;
		font-style: normal;
		letter-spacing: normal;
		line-height: size(20);
		text-align: center;
		margin-bottom: 10px;
		transition: font-weight ease-out .5s;
		&:hover {
		  color: $blue-main;
		  font-weight: 500;
		}
	  }
	}
  }
}
/* Medium devices (tablets, 768px and down) The navbar toggle appears at this breakpoint */
@media (max-width: 768px) {
  html{
    font-size: 18px;
  }
  #MainNav{
	ul{
	  li{
		a{
		  padding: 0 15px;
		  color: #ffffff !important;
		  font-size: size(24);
		  font-weight: 500;
		  font-style: normal;
		  letter-spacing: normal;
		  line-height: size(24);
		}
	  }
	}
	ul.sub-menu {
	  li a {
		font-size: size(19);
		line-height: size(20);
		font-weight: 400;
	  }
	}
  }
}
/* Small devices (landscape phones, 576px and down) */
@media (max-width: 576px) {
  html{
    font-size: 17px;
  }
  .col-post {
	padding: 0 15px;
  }
  .container-fluid {
	max-width: 100%;
  }
  .slider-posts-block {
	padding-right: 1.4rem;
	padding-left: 1.4rem;
  }
  .hop-hey.three-columns {
	column-count: 1;
	column-gap: unset;
  }
  .col-projects-out {
	.base-text {
	  font-size: size(15);
	  line-height: size(18);
	}
  }
  .trigger-shop-item {
	margin-left: 0;
	width: 10px;
	height: 15px;
	background-size: 10px;
  }
}







/*
::::: Custom media queries :::::
*/

@media (max-width: 450px) {
  .contacts-column {
	.contact-item {
	  flex: 0 0 100%;
	  max-width: 100%;
	}
  }
}
