.home-title {
  font-family:'Just Another Hand', sans-serif;
  font-size: size(50);
  line-height: size(55);
  text-align: center;
  color: #ffffff;
  margin-bottom: 27px;
}
.block-title {
  @include big-title;
}
.base-title {
  @include base-title;
}
.block-title, .base-title {
  color: $blue-main;
  margin-bottom: 20px;
  text-align: center;
}
.base-text, .card-text {
  @include base-text;
}
.card-text {
  margin-bottom: 16px;
}
.product-card {
  .card-text {
	margin-bottom: size(40);
  }
}
.base-output {
  h1 {
	@include giant-title;
  }
  h2 {
	@include big-title;
	margin-bottom: 0;
  }
  h3 {
	@include base-title;
  }
  h1, h2, h3, h4, h5, h6 {
	color: $blue-main;
	font-weight: 500;
	margin-bottom: size(17);
  }
  h4 {
	font-size: size(30);
	line-height: size(32);
  }
  h5 {
	font-size: size(25);
	line-height: size(30);
  }
  h6 {
	font-size: size(22);
	line-height: size(26);
  }
  p, li {
	@include base-bigger-text;
  }
  p {
	margin-bottom: 40px;
  }
  ul {
	list-style: disc;
  }
  img {
	width: 100%;
  }
  strong {
	font-weight: 800;
  }
}
.base-output-product {
  p, li {
	@include base-text;
  }
  p {
	margin-bottom: 0;
  }
}
.slider-output, .main-page-output {
  h1, h2, h3, h4, h5, h6, p, li {
	color: #ffffff;
  }
}
.shops-page-output {
  h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
  }
}
.slider-output {
  h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
  }
  p {
	margin-bottom: 0;
  }
}
.main-page-output {
  h1, h2, h3, h4, h5, h6, p, li {
	text-align: center;
  }
  h1, h2, h3, h4, h5, h6 {
	font-weight: 500;
  }
  p {
	font-size: size(25);
	line-height: size(32);
	margin-bottom: 0;
  }
  padding-bottom: 23px;
  border-bottom: 2px solid #ffffff;
  margin-bottom: size(48);
}
.post-card-title {
  color: $blue-main;
  font-size: size(25);
  font-weight: 500;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(30);
  margin-bottom: 10px;
}
.base-link {
  @include d-center;
  width: 256px;
  height: size(54);
  border-radius: 5px;
  border: 2px solid $blue-light;
  background-color: #ffffff;
  padding: size(15) size(40) size(15) size(80);
  background-position: size(36) center;
  background-size: size(27);
  background-repeat: no-repeat;
  background-image: url("../iconsall/arrow-blue.png");
  color: $blue-main !important;
  font-size: size(25);
  font-weight: 500;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(34);
  text-align: center;
  transition: background-position, background-color, border ease-out .5s;
  &:hover {
	background-image: url("../iconsall/arrow-white-left.png");
	background-position: size(20) center;
	background-color: $blue-main;
	color: #ffffff !important;
  }
}
.base-link-white, .base-link-main {
  border: 2px solid #ffffff;
  background-color: transparent;
  color: #ffffff !important;
  background-image: url("../iconsall/arrow-white-left.png");
  &:hover {
	border: 2px solid $blue-light;
	background-color: $blue-light;
  }
}
.base-link-main {
  width: 290px;
  padding: size(15) size(13) size(15) size(45);
  background-position: size(13) center;
  background-color: rgba(58, 157, 208, 0.9);
  &:hover {
	background-position: 5px center;
  }
}
.more-link {
  background-image: none !important;
  width: auto !important;
  padding: 15px 80px;
  &.hide {
	display: none;
  }
}
.bread-row {
  margin-bottom: 23px;
  a, span {
	color: #0a085f;
	font-size: size(20);
	font-weight: 300;
	font-style: normal;
	letter-spacing: normal;
	line-height: size(34);
	text-align: center;
  }
}
