@import "mixins";
@import "reset";
@import "fonts";
@import "vars";
@import "colors";
@import "setup";
@import "hover";
@import "animate";
@import "typography";
@import "partials";
@import "forms";
@import "header-footer";


body{
  font-family: $heebo;
  text-align: right;
}
.wow {
  visibility: hidden;
}
.container-fluid {
  max-width: 90%;
}
//Homepage
.home-main-block {
  position: relative;
  @include back-img;
  padding: 150px 0 250px 0;
  max-height: calc(100vh - 115px);
}
.home-sub-block {
  padding: 200px 0 250px 0;
}
.main-overlay, .home-main-overlay {
  @include overlay;
  background-image: linear-gradient(to bottom, #000000 0%, rgba(0, 0, 0, 0) 100%);
  opacity: 0.6;
}
.home-main-overlay {
  opacity: 0.5;
}
.page-body {
  padding: 42px 0 85px 0;
}
.col-main-margin {
  margin-bottom: 2rem;
}
//Homepage 2
.homepage-main-title {
  color: #ffffff;
  font-size: size(60);
  font-weight: 500;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(80);
  text-align: center;
  @media (max-width: 1600px) {
	@include giant-title;
  }
}
.home-cats-block, .home-posts {
  padding: 75px 0;
}
.category-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 66px;
}
.cat-image {
  @include d-center;
  margin-bottom: size(38);
  img {
	max-width: 202px;
	max-height: 202px;
  }
  @media (max-width: 1600px) {
	margin-bottom: 15px;
	img {
	  max-width: 120px;
	  max-height: 120px;
	}
  }
  @media (max-width: 500px) {
	img {
	  max-width: 100px;
	  max-height: 100px;
	}
  }
}
.category-item-title, .benefit-title {
  color: $blue-main;
  font-size: size(24);
  font-weight: 500;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(31);
  text-align: center;
}
.about-block-container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  margin: 0 -6px;
  @media (max-width: 992px) {
	margin: 0;
  }
}
.about-block {
  padding: 0 6px;
  @media (max-width: 992px) {
	padding: 0;
  }
}
.about-block-item {
  flex: 0 0 50%;
  max-width: 50%;
  @include back-img;
  padding: 6px;
  @media (max-width: 992px) {
	flex: 0 0 100%;
	max-width: 100%;
	padding: 0;
  }
}
.about-block-img {
  @include back-img;
  height: 100%;
}
.about-text-wrapper {
  background-image: url("../img/about-back.png");
  background-color: $blue-main;
  @include back-img;
  padding: 20%;
  display: flex;
  flex-direction: column;
  .base-link-white {
	align-self: flex-end;
  }
  @media (max-width: 1600px) {
	padding: 15%;
  }
  @media (max-width: 1200px) {
	padding: 20% 10%;
  }
  @media (max-width: 992px) {
	padding: 20% 15%;
  }
  @media (max-width: 576px) {
	padding: 20% 20px;
  }
}
.about-benefits-wrapper {
  padding: 80px 15% 0 15%;
  background-color: #fafafa;
  @media (max-width: 1600px) {
	padding: 80px 20px 0 20px;
  }
}
.benefit-col {
  margin-bottom: 80px;
}
.benefit-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  @include back-img;
  background-repeat: no-repeat;
  padding: 0 10%;
  .base-text {
	color: #858585;
	text-align: center;
  }
  @media (max-width: 1600px) {
	padding: 0 20px;
  }
}
.benefit-icon {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 26px;
  height: 96px;
  @media (max-width: 1600px) {
	height: 60px;
  }
  img {
	max-height: 100%;
  }
}
.benefit-title {
  font-size: size(22);
  line-height: size(26);
  margin-bottom: 14px;
}
.slider-posts-block {
  .slick-slider .slick-track, .slick-slider .slick-list {
	display: flex;
  }
}
.socials-share {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 10px 0;
}
.social-share-link {
  width: size(46);
  margin: 0 9px;
}
.share-text {
  color: $text-main;
  font-size: size(25);
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(32);
}
.big-slider-item, .thumb-item {
  width: 100%;
  display: flex;
  @include back-img;
  &:after {
	content: '';
	display: block;
	padding-bottom: 73.5%;
  }
}
.thumb-item {
  &:after {
	padding-bottom: 92.6%;
  }
}
.big-slider-item-pro, .thumb-item-pro {
  position: relative;
  box-shadow: 1px 1px 10px rgba(1, 1, 1, 0.15);
  background-color: #ffffff;
  padding: size(20);
  @include d-center;
  width: 100%;
  &:after {
	content: '';
	display: block;
	padding-bottom: 100%;
  }
  img {
	position: absolute;
	max-height: 80%;
  }
}
.big-slider-item-pro {
  &:after {
	padding-bottom: 113%;
  }
}
.block-title-mob {
  display: none;
}

//Product
//Accordion (product)
.accordion-button-wrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  .btn {
	width: 40px;
	padding: 0 0 0 10px;
	border: none !important;
  }
}
.product-info-acc {
  .card {
	border: none !important;
	border-radius: 0 !important;
  }
  .slider-output {
	@include base-text;
  }
  .accordion-button-wrap {
	margin-bottom: 0;
  }
}
.product-info-title {
  color: $blue-main;
  font-size: size(25);
  font-weight: 500;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(20);
  transition: color ease-out .5s;
  &:hover {
	color: $blue-light;
  }
}
.accordion-symbol {
  color: $blue-main;
  font-size: size(30);
  font-weight: 500;
  line-height: size(35);
}
.card .slider-output {
  padding-top: 1rem;
}
.minus-icon {
  display: none !important;
}
.show-icon {
  display: block !important;
}
.hide-icon {
  display: none !important;
}
//Products
//Sidebar
.sidebar-list, .sidebar-item, .sidebar-item-inside {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
ul.sidebar-list {
  margin: 0 -20px;
}
.sidebar-item-inside {
  position: relative;
  flex-direction: row;
  padding-right: 30px;
  width: 100%;
  @media (max-width: 1600px)  and (min-width: 992px){
	padding-right: 30px;
  }
}
.sidebar-list {
  flex-direction: column;
}
.sidebar-item {
  position: relative;
  padding: 10px 30px;
  &:hover {
	.sidebar-item-main {
	  color: $blue-light;
	}
  }
  &.active-side {
	background-color: $blue-light;
	.sidebar-item-main, .sidebar-item-trigger:after {
	  color: #ffffff;
	}
  }
}
@mixin sidebar-text {
  color: $blue-main;
  font-size: size(25);
  font-weight: 500;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(31);
}
.sidebar-item-main {
  @include sidebar-text;
  transition: color ease-out .5s;
}
.sidebar-item-trigger {
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
  @include sidebar-text;
  &:after {
	content: '+';
  }
  margin-left: size(60);
  cursor: pointer;
  &.rotated {
	&:after {
	  content: '-';
	}
  }
}
ul.children-terms-wrap {
  display: none;
  margin-top: 10px;
  margin-right: 20px;
  li a {
	@include base-text;
	color: #ffffff;
	transition: color ease-out .5s;
	&:hover {
	  color: $blue-main;
	}
  }
}
.sidebar-wrapper {
  border: 2px solid #001f5c;
  background-color: #ffffff;
  padding: 30px;
  @media (max-width: 1600px) {
	padding: 30px 20px;
  }
}
//Contact page
.contact-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 22px;
}
.contact-icon-wrap  {
  @include d-center;
  width: size(89);
  min-width: size(89);
  height: size(86);
  border-radius: 5px;
  padding: 19px;
  border: 2px solid $blue-light;
  margin-left: size(77);
  img {
	max-height: 100%;
  }
  @media (max-width: 1600px) {
	margin-left: 30px;
  }
  @media (max-width: 768px) {
	margin-left: 18px;
  }
}
.contact-info {
  @include base-text;
  transition: color ease-out .5s;
  &:hover {
	color: $blue-light;
  }
}
.contact-info-wrap {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.contact-info-title {
  color: $text-main;
  font-weight: 400;
  font-size: size(24);
  line-height: size(30);
}
.map-image {
  img {
	width: 100%;
  }
}
.contact-form-wrap {
  background-color: $blue-light;
  padding: size(45) 7%;
  margin-bottom: 40px;
  div.wpcf7 input, div.wpcf7 select {
	border-radius: size(15) !important;
  }
  div.wpcf7 input[type="submit"] {
	font-size: size(20);
	line-height: size(20);
	font-weight: 400;
	padding: 5px size(48);
	background-image: none;
  }
}

//Shops

.acf-sales-map {
  overflow: hidden;
}
.acf-sales-map, .col-projects-out {
  height: 682px;
}
.col-projects-out {
  overflow-y: scroll;
}
.row-projects, .select-wrapper {
  ::-webkit-scrollbar {
	width: 1px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
	background-color: $blue-light;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: $blue-main;
	border-radius: 5px;
	height: size(57);
	width: 6px;
  }
}
.table-title {
  color: $blue-main;
  font-size: size(25);
  font-weight: 500;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(40);
  text-align: center;
}
.marker {
  align-items: stretch;
  .base-text {
	display: flex;
	font-weight: 300;
	padding: 10px 0;
  }
  &.active-marker {

  }
}
.marker-addition {
  display: none;
  padding: 15px 30px;
  background-color: #f8f6f6;
  z-index: 99;
}
.marker-content {
  display: flex;
  flex-direction: column;
  .base-text {
	padding: 0;
  }
}
.row-border-bottom {
  border-bottom: 1px solid $blue-light;
}
.bl-light {
  border-left: 1px solid $blue-light;
}
.trigger-shop-col {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.trigger-shop-item {
  margin-left: 15px;
  cursor: pointer;
  background-image: url("../iconsall/shop-trigger.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 15px;
  width: 15px;
  height: 15px;
  transition: transform ease-out .5s;
  &.active {
	transform: rotate(180deg);
  }
}

@import "responsive";
